@if (profile(); as profile) {
  <div class="companion-header__wrapper">

    <a class="icon-btn">
      <svg class="icon-input" icon="back"></svg>
    </a>
    <div class="companion-username-info">
      <app-avatar-circle
        class="size32"
        [avatarUrl]="profile.avatarUrl"
      ></app-avatar-circle>

      <strong class="header-username">{{ profile.firstName }} {{ profile.lastName }}</strong>
    </div>
    <a class="icon-btn">
      <svg class="icon-input" icon="menu"></svg>
    </a>

  </div>
}

