:host {
  display: grid;
  grid-template-columns: 640px;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

:host::-webkit-scrollbar {
  display: none;
}

.logo-small {
  position: absolute;
  top: 0;
  left: 20px;
  cursor: pointer;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.tour-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.tt-input {
  border: none;
}

.from-city {
  width: 315px;
}

textarea::-webkit-resizer {
  display: none;
}

.add-tour-btn {
  width: max-content;
}

.btn {
  transition: all 0.2s ease;
}

.btn:active {
  transform: translateY(2px);
}

.hotel-category__wrapper {
  display: grid;
  grid-gap: 16px;
}

.tt-input.ng-invalid.ng-touched {
  border: 1px solid tomato;
}

.validation {
  display: none;
}

.tt-input.ng-invalid.ng-touched + .validation {
  display: block;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.tt-input::-webkit-calendar-picker-indicator {
  background: var(--primary-color);
  cursor: pointer;
}
