:host {
  display: grid;
  padding: 16px 20px;
  grid-template-rows: 1fr min-content;
}

.messages__wrapper {
  overflow-y: auto;
  margin-bottom: 16px;
}

.messages__wrapper::-webkit-scrollbar {
  width: 0;
}
