@if (profile$ | async; as profile) {

  <header class="profile-page__header">
    <app-profile-header
      [profile]="profile"
    ></app-profile-header>

    <a class="btn to-settings-btn" [routerLink]="['/settings']">
      Редактировать
      <svg icon="settings" class="to-settings-icon"></svg>
    </a>
  </header>

  <main class="profile-page__body">
    <div class="my-profile-wall"></div>

    <div>
      <div class="subscribers-header mb16">
        <h3 class="h6">Подписчики</h3>
        <div class="subscribers-badge">28
        </div>
      </div>

      <div class="subscribers-wrapper mb32">
        @for (subscriber of subscribers$ | async; track subscriber.id) {
          <a [routerLink]="['/profile', subscriber.id]">
            <img
              [src]="subscriber.avatarUrl | imgUrl"
              alt="Фото подписчика"
              class="subscriber-avatar-btn"/>
          </a>
        }
        <a [routerLink]="['/search']" class="to-subscribers-search">
        </a>
      </div>

      <h3 class="h6 mb16">Навыки</h3>

      <div class="stack-wrapper mb32">
      @for (skill of ['123', '1233', '123', '1233', '232']; track skill) {
        <div class="skill-tag">{{ skill }}</div>
      }
      </div>
    </div>
  </main>

}

