@use "fonts";
@use "margins";

:root {
  --dark-color: #000000;
  --light-color: #FFFFFF;
  --primary-color: #AE7AFF;
  --dark-hover-color: #161616;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
  font-family: 'JetBrains Mono', sans-serif;
  background: var(--dark-color);
  color: var(--light-color);
  background-image: url(/assets/images/background.jpg);
  background-size: cover;
}

.skill-tag {
  border: 1px solid var(--light-color);
  border-radius: 2px;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  display: inline;
}

.btn {
  width: 100%;
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid var(--dark-color);
}

.h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
}

.h4 {
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.regular {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.tt-control-label {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: block;
}

.tt-input {
  width: 100%;
  margin-top: 8px;
  display: block;
  border: 1px solid var(--light-color);
  border-radius: 2px;
  padding: 12px 20px;
  background: var(--dark-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: 'JetBrains Mono', sans-serif;
  color: var(--light-color);
}
