:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 12px;
  margin-bottom: 12px;
}

:host.is-mine {
  grid-template-columns: 1fr 32px;
  justify-self: end;

  .message-container {
    order: -1;
  }

  .message-text {
    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%);
    color: var(--dark-color);
    background: var(--primary-color);
  }
}

.message-text {
  padding: 8px 16px;
  background: var(--dark-message-color);
  width: max-content;
  clip-path: polygon(10px 0, 100% 0, 100% 100%, 0 100%, 0 10px);
}
